<section id="jumbotron" class="bg-light">
    <div class="container header-hero" style="height: 100vh">
        <div class="row align-items-center">
            <div class="col-md-4 text-center order-md-2 mb-4">
                <img class="shadow-lg bg-white rounded border" height="230" src="images/mydn.png" alt="Muhammad Mayudin" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="900">
            </div>
            
            <div class="hero-title col-md-6 offset-lg-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                <h3>
                    Halo, 
                </h3>
                <p>Saya Muhammad Mayudin. Saya mahasiswa dari Universitas Pamulang. Saya mengambil jurusan Teknik Informatika. Saya memiliki hobbi didalam dunia Programming, terutama untuk Mobile Development. </p>
                
                <h6 class="mb-2 font-weight-lighter text-muted" >
                    Android and Website Developer | College Student
                </h6>
                
                <div class="social-media">
                    <a href="#" class="h4 mx-1 text-primary text-decoration-none" title="github"><i class="bi bi-github fs-4"></i>
                    </a>

                    <a href="#" class="h4 mx-1 text-primary text-decoration-none" title="facebook"><i class="bi bi-facebook fs-4"></i>
                    </a>

                    <a href="#" class="h4 mx-1 text-primary text-decoration-none" title="twitter"><i class="bi bi-twitter fs-4"></i>
                    </a>

                    <a href="#" class="h4 mx-1 text-primary text-decoration-none" title="instagram"><i class="bi bi-instagram fs-4"></i>
                    </a>

                    <a href="/blog" class="h4 mx-1 text-primary text-decoration-none" title="blog"><i class="bi bi-globe2 fs-4"></i>
                    </a>

                    <a href="/api" class="h4 mx-1 text-primary text-decoration-none" title="API"><i class="bi bi-code-slash fs-4"></i>
                    </a>


                </div>
                
                <a href="#" class="btn btn-primary mt-3 mb-5"><i class="bi bi-cloud-arrow-down-fill"></i> Curriculum vitae</a>
            </div>
        </div>
        
        <div id="particles-js"></div>
    </div>

</section>

<section id="projects">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col" data-aos="zoom-in-up">
                <h4>Projects</h4>
                <p>List of all my projects</p>
            </div>
        </div>

        <div class="row text-center">
            
            <div class="col-md-4 mb-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">

                <img src="https://i.pcmag.com/imagery/reviews/06fdvkyOgcsc4kzcSqhLmxB-12.1601663115.fit_scale.size_760x427.png" height="150" >
                <p class="card-text">Project Name</p>
                
            </div>

            <div class="col-md-4 mb-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">

                <img src="https://i.pcmag.com/imagery/reviews/06fdvkyOgcsc4kzcSqhLmxB-12.1601663115.fit_scale.size_760x427.png" height="150" >
                <p class="card-text">Project Name</p>
                
            </div>

            <div class="col-md-4 mb-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">

                <img src="https://i.pcmag.com/imagery/reviews/06fdvkyOgcsc4kzcSqhLmxB-12.1601663115.fit_scale.size_760x427.png" height="150" >
                <p class="card-text">Project Name</p>
                
            </div>
        </div>
    </div>
</section>

<section id="skill" class="bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col" data-aos="zoom-in-up">
                <h4>Tools & Skill</h4>
                <p>my current tools & skill list</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="scroll col-md text-center" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="500">
                <img src="images/icon_android_studio.png" class="mb-2" alt="icon" height="100">
                <img src="images/icon_vscode.png" class="mb-2" alt="icon" height="100">
                <img src="images/icon_java.png" class="mb-2" alt="icon" height="100">
                <img src="images/icon_php.png" class="mb-2" alt="icon" height="100">
                <img src="images/icon_html.png" class="mb-2" alt="icon" height="100">
                <img src="images/icon_css.png" class="mb-2" alt="icon" height="100">
                <img src="images/icon_javascript.png" class="mb-2" alt="icon" height="100">
            </div>
        </div>
    </div>
</section>

<section id="certificates">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col" data-aos="zoom-in-up">
                <h4>Certificates</h4>
                <p>List of all my certificates</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-secondary" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-secondary" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-secondary" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="bg-secondary" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="bg-secondary" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class="bg-secondary" aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class="bg-secondary" aria-label="Slide 7"></button>
                        
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/Sertifikat_HTML&CSS.PNG" class="d-block w-100" alt="sertifikat">
                        </div>
                        <div class="carousel-item">
                            <img src="images/Sertifikat_JavaScript.png" class="d-block w-100" alt="sertifikat">
                        </div>
                        <div class="carousel-item">
                            <img src="images/Sertifikat_NodeJs.png" class="d-block w-100" alt="sertifikat">
                        </div>
                        <div class="carousel-item">
                            <img src="images/Sertifikat_PHP.png" class="d-block w-100" alt="sertifikat">
                        </div>
                        <div class="carousel-item">
                            <img src="images/Sertifikat_SQL.png" class="d-block w-100" alt="sertifikat">
                        </div>
                        <div class="carousel-item">
                            <img src="images/Sertifikat_Java.png" class="d-block w-100" alt="sertifikat">
                        </div>
                        <div class="carousel-item">
                            <img src="images/Sertifikat_GIT.png" class="d-block w-100" alt="sertifikat">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col" data-aos="zoom-in-up">
                <h4>Contact Form</h4>
                <p>Please fill in the form below to send a message, thank you</p>
            </div>
        </div>

        <div class="row justify-content-center " data-aos="zoom-out" data-aos-duration="500" data-aos-delay="500">
            <div class="col-md-6">
                <form action="/contact-form" method="POST">

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="floatingName" placeholder="Name">
                        <label for="floatingName">Name</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>

                    <div class="form-floating mb-2">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Leave a comment here</label>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary mb-5" type="submit">Send</button>
                </form>

                
            </div>
        </div>
    </div>
</section>



<!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="bi bi-chevron-up"></i></a>
    
<!--====== BACK TOP TOP PART ENDS ======-->

